body {
  max-width: 98vw;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  
}
.ome-container {
  display: grid; 
  grid-template-rows:1fr ; 
  grid-template-columns:50% 50% ; 
}
}
.dark-bg {
  background-color: var(--theme-color-600, #757575);
  color: var(--theme-text-color-0, #ffffff);
}
