@import "@material/checkbox/mdc-checkbox.scss";
@import "@material/form-field/mdc-form-field.scss";
@import "@material/textfield/mdc-text-field.scss";
@import "@material/snackbar/mdc-snackbar.scss";
@import "@material/dialog/mdc-dialog.scss";
@import "@material/button/mdc-button.scss";
@import "@material/linear-progress/mdc-linear-progress.scss";
@import "@material/tab-bar/mdc-tab-bar.scss";
@import "@material/tab-scroller/mdc-tab-scroller.scss";
@import "@material/tab-indicator/mdc-tab-indicator.scss";
@import "@material/tab/mdc-tab.scss";
@import "@material/top-app-bar/mdc-top-app-bar.scss";
@import "@material/typography/mdc-typography.scss";

.mdc-top-app-bar {
  @include mdc-top-app-bar-fill-color(rgb(232, 234, 246));
  @include mdc-top-app-bar-icon-ink-color(black);
  @include mdc-top-app-bar-ink-color(black);
}
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
